
.AndroidLarge6_AndroidLarge6 {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
}
.AndroidLarge6_AndroidLarge6 .Frame5 {
	position: absolute;
	left: 0px;
	top: 4264px;
	width: 1440px;
	height: 224px;
	background: rgba(71,90,255,1.00);
}
.AndroidLarge6_AndroidLarge6 .Frame5 .Home {
	position: absolute;
	left: 164px;
	top: 112px;
	width: 160px;
	height: 68px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 56px;
	font-weight: 400;
	line-height: 65.625px;
}
.AndroidLarge6_AndroidLarge6 .Frame5 .Saved {
	position: absolute;
	left: 508px;
	top: 112px;
	width: 164px;
	height: 68px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 56px;
	font-weight: 400;
	line-height: 65.625px;
}
.AndroidLarge6_AndroidLarge6 .Frame5 .Utilities {
	position: absolute;
	left: 820px;
	top: 112px;
	width: 200px;
	height: 68px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 56px;
	font-weight: 400;
	line-height: 65.625px;
}
.AndroidLarge6_AndroidLarge6 .Frame5 .Setvices {
	position: absolute;
	left: 1092px;
	top: 112px;
	width: 228px;
	height: 68px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 56px;
	font-weight: 400;
	line-height: 65.625px;
}
.AndroidLarge6_AndroidLarge6 .Frame8 {
	position: absolute;
	left: 80px;
	top: 88px;
	width: 1280px;
	height: 196px;
	background: rgba(71,90,255,0.10);
}
.AndroidLarge6_AndroidLarge6 .Frame8 .Electrician {
	position: absolute;
	left: 476px;
	top: 60px;
	width: 316px;
	height: 76px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 64px;
	font-weight: 400;
	line-height: 75px;
}
.AndroidLarge6_AndroidLarge6 .Frame8 .Rectangle13 {
	position: absolute;
	left: 36px;
	top: 36px;
	width: 64px;
	height: 108px;
	background: rgba(71,90,255,1.00);
}
.AndroidLarge6_AndroidLarge6 .Frame8 .back {
	position: absolute;
	left: 48px;
	top: 48px;
	width: 112px;
	height: 80px;
	color: rgba(17,17,17,1.00);
	font-family: Inter;
	font-size: 48px;
	font-weight: 400;
	line-height: 80px;
}
.AndroidLarge6_AndroidLarge6 .Frame9 {
	position: absolute;
	left: 80px;
	top: 396px;
	width: 1236px;
	height: 556px;
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.AndroidLarge6_AndroidLarge6 .Frame9 .Ellipse2 {
	position: absolute;
	left: 60px;
	top: 52px;
	width: 200px;
	height: 200px;
	background: rgba(217,217,217,1.00);
	border-radius: 50%;
}
.AndroidLarge6_AndroidLarge6 .Frame9 .HaadiyaCalavadi {
	position: absolute;
	left: 376px;
	top: 68px;
	width: 432px;
	height: 64px;
	color: rgba(0,0,0,1.00);
	font-family: Roboto;
	font-size: 56px;
	font-weight: 400;
	line-height: 65.625px;
}
.AndroidLarge6_AndroidLarge6 .Frame9 .BadBazarSonepur {
	position: absolute;
	left: 376px;
	top: 168px;
	width: 472px;
	height: 64px;
	color: rgba(0,0,0,1.00);
	font-family: Roboto;
	font-size: 56px;
	font-weight: 400;
	line-height: 65.625px;
}
.AndroidLarge6_AndroidLarge6 .Frame9 .Contactno {
	position: absolute;
	left: 100px;
	top: 312px;
	width: 288px;
	height: 64px;
	color: rgba(0,0,0,1.00);
	font-family: Roboto;
	font-size: 56px;
	font-weight: 400;
	line-height: 65.625px;
}
.AndroidLarge6_AndroidLarge6 .Frame9 .Frame10 {
	position: absolute;
	left: 100px;
	top: 396px;
	width: 1040px;
	height: 88px;
}
.AndroidLarge6_AndroidLarge6 .Frame9 .Frame10 ._919764458812 {
	position: absolute;
	left: 24px;
	top: 12px;
	width: 428px;
	height: 64px;
	color: rgba(0,0,0,1.00);
	font-family: Roboto;
	font-size: 56px;
	font-weight: 400;
	line-height: 65.625px;
}