
.AndroidLarge8_AndroidLarge8 {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
}
.AndroidLarge8_AndroidLarge8 .Frame5 {
	position: absolute;
	left: 0px;
	top: 4264px;
	width: 1440px;
	height: 224px;
	background: rgba(71,90,255,1.00);
}
.AndroidLarge8_AndroidLarge8 .Frame5 .Home {
	position: absolute;
	left: 164px;
	top: 112px;
	width: 160px;
	height: 68px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 56px;
	font-weight: 400;
	line-height: 65.625px;
}
.AndroidLarge8_AndroidLarge8 .Frame5 .Saved {
	position: absolute;
	left: 508px;
	top: 112px;
	width: 164px;
	height: 68px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 56px;
	font-weight: 400;
	line-height: 65.625px;
}
.AndroidLarge8_AndroidLarge8 .Frame5 .Utilities {
	position: absolute;
	left: 820px;
	top: 112px;
	width: 200px;
	height: 68px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 56px;
	font-weight: 400;
	line-height: 65.625px;
}
.AndroidLarge8_AndroidLarge8 .Frame5 .Setvices {
	position: absolute;
	left: 1092px;
	top: 112px;
	width: 228px;
	height: 68px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 56px;
	font-weight: 400;
	line-height: 65.625px;
}
.AndroidLarge8_AndroidLarge8 .Frame8 {
	position: absolute;
	left: 80px;
	top: 88px;
	width: 1280px;
	height: 196px;
	background: rgba(71,90,255,0.10);
}
.AndroidLarge8_AndroidLarge8 .Frame8 .ReligiousPlaces {
	position: absolute;
	left: 476px;
	top: 60px;
	width: 488px;
	height: 76px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 64px;
	font-weight: 400;
	line-height: 75px;
}
.AndroidLarge8_AndroidLarge8 .Frame8 .Rectangle13 {
	position: absolute;
	left: 36px;
	top: 36px;
	width: 64px;
	height: 108px;
	background: rgba(71,90,255,1.00);
}
.AndroidLarge8_AndroidLarge8 .Frame8 .back {
	position: absolute;
	left: 48px;
	top: 48px;
	width: 112px;
	height: 80px;
	color: rgba(17,17,17,1.00);
	font-family: Inter;
	font-size: 48px;
	font-weight: 400;
	line-height: 80px;
}
.AndroidLarge8_AndroidLarge8 .Rectangle6 {
	position: absolute;
	left: 80px;
	top: 420px;
	width: 1252px;
	height: 856px;
	background: rgba(217,217,217,1.00);
}
.AndroidLarge8_AndroidLarge8 .Rectangle8 {
	position: absolute;
	left: 80px;
	top: 1388px;
	width: 1252px;
	height: 856px;
	background: rgba(217,217,217,1.00);
}
.AndroidLarge8_AndroidLarge8 .Rectangle10 {
	position: absolute;
	left: 92px;
	top: 2332px;
	width: 1252px;
	height: 856px;
	background: rgba(217,217,217,1.00);
}
.AndroidLarge8_AndroidLarge8 .Rectangle12 {
	position: absolute;
	left: 80px;
	top: 3276px;
	width: 1252px;
	height: 856px;
	background: rgba(217,217,217,1.00);
}
.AndroidLarge8_AndroidLarge8 .PataliSrikhetra {
	position: absolute;
	left: 92px;
	top: 1044px;
	width: 1136px;
	height: 96px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 80px;
	font-weight: 400;
	line-height: 93.75px;
}
.AndroidLarge8_AndroidLarge8 .SubarnameruTemple {
	position: absolute;
	left: 92px;
	top: 2012px;
	width: 1136px;
	height: 96px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 80px;
	font-weight: 400;
	line-height: 93.75px;
}
.AndroidLarge8_AndroidLarge8 .RameswarTemple {
	position: absolute;
	left: 104px;
	top: 2956px;
	width: 1136px;
	height: 96px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 80px;
	font-weight: 400;
	line-height: 93.75px;
}
.AndroidLarge8_AndroidLarge8 .SonepurMosque {
	position: absolute;
	left: 92px;
	top: 3900px;
	width: 1136px;
	height: 96px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 80px;
	font-weight: 400;
	line-height: 93.75px;
}
.AndroidLarge8_AndroidLarge8 .KotsamlaieUlunda {
	position: absolute;
	left: 188px;
	top: 1188px;
	width: 996px;
	height: 68px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 56px;
	font-weight: 400;
	line-height: 65.625px;
}
.AndroidLarge8_AndroidLarge8 .Sonepur {
	position: absolute;
	left: 188px;
	top: 2156px;
	width: 996px;
	height: 68px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 56px;
	font-weight: 400;
	line-height: 65.625px;
}
.AndroidLarge8_AndroidLarge8 .Sonepur_1 {
	position: absolute;
	left: 200px;
	top: 3100px;
	width: 996px;
	height: 68px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 56px;
	font-weight: 400;
	line-height: 65.625px;
}
.AndroidLarge8_AndroidLarge8 .MajhipadaSonepur {
	position: absolute;
	left: 188px;
	top: 4044px;
	width: 996px;
	height: 68px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 56px;
	font-weight: 400;
	line-height: 65.625px;
}
.AndroidLarge8_AndroidLarge8 .Rectangle7 {
	position: absolute;
	left: 104px;
	top: 1168px;
	width: 64px;
	height: 108px;
	background: rgba(71,90,255,1.00);
}
.AndroidLarge8_AndroidLarge8 .Rectangle9 {
	position: absolute;
	left: 104px;
	top: 2136px;
	width: 64px;
	height: 108px;
	background: rgba(71,90,255,1.00);
}
.AndroidLarge8_AndroidLarge8 .Rectangle11 {
	position: absolute;
	left: 116px;
	top: 3080px;
	width: 64px;
	height: 108px;
	background: rgba(71,90,255,1.00);
}
.AndroidLarge8_AndroidLarge8 .Rectangle13_1 {
	position: absolute;
	left: 116px;
	top: 4024px;
	width: 64px;
	height: 108px;
	background: rgba(71,90,255,1.00);
}