
.AndroidLarge2_AndroidLarge2 {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
}
.AndroidLarge2_AndroidLarge2 .Rectangle6 {
	position: absolute;
	left: 92px;
	top: 100px;
	width: 1252px;
	height: 856px;
	background: rgba(217,217,217,1.00);
}
.AndroidLarge2_AndroidLarge2 .PataliSrikhetra {
	position: absolute;
	left: 104px;
	top: 724px;
	width: 1136px;
	height: 96px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 80px;
	font-weight: 400;
	line-height: 93.75px;
}
.AndroidLarge2_AndroidLarge2 .KotsamlaieUlunda {
	position: absolute;
	left: 200px;
	top: 868px;
	width: 996px;
	height: 68px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 56px;
	font-weight: 400;
	line-height: 65.625px;
}
.AndroidLarge2_AndroidLarge2 ._45 {
	position: absolute;
	left: 156px;
	top: 1088px;
	width: 136px;
	height: 76px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 64px;
	font-weight: 400;
	line-height: 75px;
}
.AndroidLarge2_AndroidLarge2 ._38 {
	position: absolute;
	left: 496px;
	top: 1092px;
	width: 224px;
	height: 76px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 64px;
	font-weight: 400;
	line-height: 75px;
}
.AndroidLarge2_AndroidLarge2 ._22km {
	position: absolute;
	left: 844px;
	top: 1092px;
	width: 208px;
	height: 76px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 64px;
	font-weight: 400;
	line-height: 75px;
}
.AndroidLarge2_AndroidLarge2 .Rating {
	position: absolute;
	left: 148px;
	top: 1032px;
	width: 216px;
	height: 60px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 48px;
	font-weight: 400;
	line-height: 56.25px;
}
.AndroidLarge2_AndroidLarge2 .Temperature {
	position: absolute;
	left: 488px;
	top: 1036px;
	width: 292px;
	height: 60px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 48px;
	font-weight: 400;
	line-height: 56.25px;
}
.AndroidLarge2_AndroidLarge2 .DistancefromSonepur {
	position: absolute;
	left: 836px;
	top: 1036px;
	width: 556px;
	height: 60px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 48px;
	font-weight: 400;
	line-height: 56.25px;
}
.AndroidLarge2_AndroidLarge2 .Rectangle7 {
	position: absolute;
	left: 116px;
	top: 848px;
	width: 64px;
	height: 108px;
	background: rgba(71,90,255,1.00);
}
.AndroidLarge2_AndroidLarge2 .Rectangle11 {
	position: absolute;
	left: 136px;
	top: 136px;
	width: 64px;
	height: 108px;
	background: rgba(71,90,255,1.00);
}
.AndroidLarge2_AndroidLarge2 .Rectangle12 {
	position: absolute;
	left: 1160px;
	top: 136px;
	width: 128px;
	height: 108px;
	background: rgba(71,90,255,1.00);
}
.AndroidLarge2_AndroidLarge2 .Save {
	position: absolute;
	left: 1184px;
	top: 148px;
	width: 112px;
	height: 80px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 48px;
	font-weight: 400;
	line-height: 80px;
}
.AndroidLarge2_AndroidLarge2 .back {
	position: absolute;
	left: 148px;
	top: 148px;
	width: 112px;
	height: 80px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 48px;
	font-weight: 400;
	line-height: 80px;
}
.AndroidLarge2_AndroidLarge2 .Rectangle8 {
	position: absolute;
	left: 92px;
	top: 1048px;
	width: 64px;
	height: 108px;
	background: rgba(71,90,255,1.00);
}
.AndroidLarge2_AndroidLarge2 .Rectangle9 {
	position: absolute;
	left: 432px;
	top: 1052px;
	width: 64px;
	height: 108px;
	background: rgba(71,90,255,1.00);
}
.AndroidLarge2_AndroidLarge2 .Rectangle10 {
	position: absolute;
	left: 780px;
	top: 1052px;
	width: 64px;
	height: 108px;
	background: rgba(71,90,255,1.00);
}
.AndroidLarge2_AndroidLarge2 .Frame2 {
	position: absolute;
	left: 152px;
	top: 1548px;
	width: 568px;
	height: 144px;
	background: rgba(71,90,255,1.00);
}
.AndroidLarge2_AndroidLarge2 .Frame2 .History {
	position: absolute;
	left: 148px;
	top: 24px;
	width: 272px;
	height: 96px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 80px;
	font-weight: 400;
	line-height: 93.75px;
}
.AndroidLarge2_AndroidLarge2 .Frame3 {
	position: absolute;
	left: 720px;
	top: 1548px;
	width: 568px;
	height: 144px;
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.AndroidLarge2_AndroidLarge2 .Frame3 .Review {
	position: absolute;
	left: 148px;
	top: 24px;
	width: 272px;
	height: 96px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 80px;
	font-weight: 400;
	line-height: 93.75px;
}
.AndroidLarge2_AndroidLarge2 .LoremipsumdolorsitametconsecteturadipiscingelitseddoeiusmodtemporincididuntutlaboreetdoloremagnaaliquaUtenimadminimveniamquisnostrudexercitationullamcolaborisnisiutaliquipexeacommodoconsequatDuisauteiruredolorinreprehenderitinvoluptatevelitessecillumdoloreeufugiatnullapariaturExcepteursintoccaecatcupidatatnonproidentsuntinculpaquiofficiadeseruntmollitanimidestlaborum {
	position: absolute;
	left: 80px;
	top: 1788px;
	width: 1208px;
	height: 1276px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 56px;
	font-weight: 400;
	line-height: 80px;
}
.AndroidLarge2_AndroidLarge2 .Frame4 {
	position: absolute;
	left: 148px;
	top: 2964px;
	width: 1176px;
	height: 188px;
	background: rgba(71,90,255,1.00);
}
.AndroidLarge2_AndroidLarge2 .Frame4 .TravelNow {
	position: absolute;
	left: 440px;
	top: 56px;
	width: 296px;
	height: 80px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 56px;
	font-weight: 400;
	line-height: 80px;
}